In [1]:
%matplotlib notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import src.interface as interface

In [2]:
interface.load_runtime_settings()

VBox(children=(Accordion(children=(VBox(children=(IntText(value=100, description='iterations'), IntText(value=…

GridBox(children=(RadioButtons(layout=Layout(grid_area='sol', width='auto'), options=('best solutions', 'curre…

Output()

Label(value='running...')

            iter succ succ-rate% tot-obj-gain avg-obj-gain rel-succ% net-time  \
run method
1   ch0        1    1   100.0000      8.00000      8.00000    1.2195   0.0000
    li1       89   79    88.7640    152.00000      1.70787   96.3415   0.6094
    sh4       10    2    20.0000     49.00000      4.90000    2.4390   0.0000
    SUM/AVG  100   82    82.0000    209.00000      2.09000   33.3333   0.6094
2   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       90   81    90.0000    152.00000      1.68889   93.1034   0.6406
    sh4        9    6    66.6667     64.00000      7.11111    6.8966   0.0000
    SUM/AVG  100   87    87.0000    216.00000      2.16000   33.3333   0.6406
3   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       89   79    88.7640    175.00000      1.96629   96.3415   0.6250
    sh4       10    3    30.0000     75.00000      7.50000    3.6585   0.0000
    SUM/AVG  100   82    82.0000    250.00000      2.50000   33.3333   0.6250
4   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       89   79    88.7640    204.00000      2.29213   96.3415   0.5469
    sh4       10    3    30.0000     79.00000      7.90000    3.6585   0.0000
    SUM/AVG  100   82    82.0000    283.00000      2.83000   33.3333   0.5469
5   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       92   84    91.3043    178.00000      1.93478   96.5517   0.6250
    sh4        7    3    42.8571     76.00000     10.85714    3.4483   0.0000
    SUM/AVG  100   87    87.0000    254.00000      2.54000   33.3333   0.6250

            net-time% brut-time brut-time%
run method
1   ch0        0.0000    0.0000     0.0000
    li1       88.6364    0.6094    88.6364
    sh4        0.0000    0.5625    81.8182
    SUM/AVG   88.6364    1.1719   170.4545
2   ch0        0.0000    0.0000     0.0000
    li1       97.6190    0.6406    97.6190
    sh4        0.0000    0.5625    85.7143
    SUM/AVG   97.6190    1.2031   183.3333
3   ch0        0.0000    0.0000     0.0000
    li1       86.9565    0.6250    86.9565
    sh4        0.0000    0.5938    82.6087
    SUM/AVG   86.9565    1.2188   169.5652
4   ch0        0.0000    0.0000     0.0000
    li1       87.5000    0.5469    87.5000
    sh4        0.0000    0.5156    82.5000
    SUM/AVG   87.5000    1.0625   170.0000
5   ch0        0.0000    0.0000     0.0000
    li1       97.5610    0.6250    97.5610
    sh4        0.0000    0.5000    78.0488
    SUM/AVG   97.5610    1.1250   175.6098

            iter succ succ-rate% tot-obj-gain avg-obj-gain rel-succ% net-time  \
run method
1   ch0        1    1   100.0000      8.00000      8.00000    1.2195   0.0000
    li1       89   79    88.7640    152.00000      1.70787   96.3415   0.6094
    sh4       10    2    20.0000     49.00000      4.90000    2.4390   0.0000
    SUM/AVG  100   82    82.0000    209.00000      2.09000   33.3333   0.6094
2   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       90   81    90.0000    152.00000      1.68889   93.1034   0.6406
    sh4        9    6    66.6667     64.00000      7.11111    6.8966   0.0000
    SUM/AVG  100   87    87.0000    216.00000      2.16000   33.3333   0.6406
3   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       89   79    88.7640    175.00000      1.96629   96.3415   0.6250
    sh4       10    3    30.0000     75.00000      7.50000    3.6585   0.0000
    SUM/AVG  100   82    82.0000    250.00000      2.50000   33.3333   0.6250
4   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       89   79    88.7640    204.00000      2.29213   96.3415   0.5469
    sh4       10    3    30.0000     79.00000      7.90000    3.6585   0.0000
    SUM/AVG  100   82    82.0000    283.00000      2.83000   33.3333   0.5469
5   ch0        1    0     0.0000      0.00000      0.00000    0.0000   0.0000
    li1       92   84    91.3043    178.00000      1.93478   96.5517   0.6250
    sh4        7    3    42.8571     76.00000     10.85714    3.4483   0.0000
    SUM/AVG  100   87    87.0000    254.00000      2.54000   33.3333   0.6250

            net-time% brut-time brut-time%
run method
1   ch0        0.0000    0.0000     0.0000
    li1       88.6364    0.6094    88.6364
    sh4        0.0000    0.5625    81.8182
    SUM/AVG   88.6364    1.1719   170.4545
2   ch0        0.0000    0.0000     0.0000
    li1       97.6190    0.6406    97.6190
    sh4        0.0000    0.5625    85.7143
    SUM/AVG   97.6190    1.2031   183.3333
3   ch0        0.0000    0.0000     0.0000
    li1       86.9565    0.6250    86.9565
    sh4        0.0000    0.5938    82.6087
    SUM/AVG   86.9565    1.2188   169.5652
4   ch0        0.0000    0.0000     0.0000
    li1       87.5000    0.5469    87.5000
    sh4        0.0000    0.5156    82.5000
    SUM/AVG   87.5000    1.0625   170.0000
5   ch0        0.0000    0.0000     0.0000
    li1       97.5610    0.6250    97.5610
    sh4        0.0000    0.5000    78.0488
    SUM/AVG   97.5610    1.1250   175.6098